body {
  font-size: 1em;
  margin: 0px ;
  padding: 0px;
  width: 100%;
}

.logo {

  background: url(#/assets/logo.svg);
}

.container {

  font-size: medium;
  width: 100%;
  margin: 0px auto ;
  min-height: 600px;
}

.container h1 {
  text-align: center;
  
}

.header {
  background-color: #2cc185;
  min-height: 100px;
}

.header-adjust {
  background-color: #2cc185;
  min-height: auto;
}

.col {
  /*border: 1px dashed firebrick;*/
  margin: 0px;
  padding: 0px;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.content {
  background-color: #545454;
  color: #f4f4f4;
  min-height: 1600px;
}

.navbar-top{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

